<h2>会員一覧</h2>


<p>会員ID</p>
<p>氏名</p>
<p>メールアドレス</p>
<p>ステータス</p>
<% @customers.each do |customer| %>
 <div>
   <td><%= customer.id %></td>
   <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
   <td><%= customer.email %></td>
   <td>
    <% if customer.is_active == true %>
    有効
    <% elsif customer.is_active == false %>
    退会
    <% end %>
   </td>
 </div>
<% end %>

<%= paginate @customers %>